<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title text-left>
      <a target="_blank" href="https://github.com/15Dkatz/official_joke_api"
        >View API docs</a
      ></ion-title
    >
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="getJoke()">
        Get A New Random Joke</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <p id="joke-text">{{currentJoke}}</p>
    <p *ngIf="showPunchline===true">{{currentJokePunchLine}}</p>
    <ion-button id="show-punchline-btn" (click)="getPunchline()"
      >{{buttonText}}</ion-button
    >
  </div>
</ion-content>
